{% extends 'base.html' %}<!--extends "inherits" from base.html-->

{% block head %}
    this is index page
{% endblock %}

{% block body %}
    <ol>
        {% for question in questions %}
        <li>
            Question: {{ question.question_text }}<br/>
            Date Published: {{ question.question_pub }}<br/>
            {% for choice in question.choice_set.all %}
            <a href="{% url 'polls:detail' question.id %}">{{choice.choice_text}}</a> <!--{ % url name_link exrtra_params % }-->
            {{ choice.votes }}<br/>
            <br/>
        {% endfor %}
        </li>
        {% endfor %}
    </ol>
    
    
{% endblock %}